{{ define "content" }}
  <main>
    <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
        <!-- Patient list -->
        <div
          class="grid grid-cols-1 gap-4 lg:col-span-2"
          hx-ext="response-targets"
        >
          {{ template "patient_list" . }}
        </div>

        <!-- Add a patient -->
        <div class="grid grid-cols-1 gap-4">
          {{ template "partials/add_patient" . }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
