{{ define "patient_list" }}
  <section class="bg-white px-4 pt-4 shadow sm:px-6 lg:px-8">
    <h1 class="text-2xl font-semibold leading-6 text-gray-900">Users</h1>
    <div class="mt-7">
      <label
        for="search"
        class="text-md block font-medium leading-6 text-gray-900"
      >
        Chercher un patient
      </label>
      <div class="relative mt-2 flex w-fit items-center">
        <input
          type="search"
          name="search"
          id="search"
          class="block w-full rounded-md border-0 py-1.5 pl-2 pr-14 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          hx-post="/patient/search"
          hx-headers='{"DICOMIZER-PARTIAL": "home,partials/patient_table"}'
          hx-trigger="input changed delay:500ms, search"
          hx-target="#patient-table"
          hx-swap="outerHTML"
        />
        <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
          <kbd
            class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400"
          >
            ⌘K
          </kbd>
        </div>
      </div>
    </div>
    <div class="mt-3 flow-root">
      <div class="-mx-4 -my-2 overflow-scroll sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          {{ template "partials/patient_table" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
