{{ define "partials/patient_row_edit" }}
  <tr id="tr-{{ .PK }}">
    <form
      hx-put="/patient/{{ .PK }}"
      hx-target="#tr-{{ .PK }}"
      hx-swap="outerHTML"
      hx-headers='{"DICOMIZER-PARTIAL": "home,partials/patient_row"}'
    >
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        <div>
          <label for="fullname" class="sr-only">Identité</label>
          <input
            type="text"
            name="fullname"
            id="fullname"
            class="input-normal"
            placeholder="Nom"
            autocomplete="name"
            value="{{ .Fullname }}"
          />
        </div>
      </td>
      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        <div>
          <label for="filters" class="sr-only">Filtres</label>
          <input
            type="text"
            name="filters"
            id="filters"
            class="input-normal"
            placeholder="des,filtres"
            value="{{ .Filters }}"
          />
        </div>
      </td>
      <td class="whitespace-nowrap px-3 py-4 text-right text-gray-500">
        <span class="isolate inline-flex rounded-md shadow-sm">
          <!-- Validate edit -->
          <button
            type="submit"
            class="relative -ml-px inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 12.75 6 6 9-13.5"
              />
            </svg>
          </button>
          <!-- Cancel update -->
          <button
            type="button"
            hx-get="/partials/patient-row"
            hx-vals='{"fullname": "{{ .Fullname }}", "filters": "{{ .Filters }}", "pk": "{{ .PK }}"}'
            hx-target="#tr-{{ .PK }}"
            hx-swap="outerHTML"
            class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
        </span>
      </td>
    </form>
  </tr>
{{ end }}
